MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=change-me-wp

MYSQL_Host=mariadb

WP_URL=https://hel-bouk.42.fr
WP_TITLE=My Inception Blog
WP_ADMIN=admin
WP_ADMIN_PASS=change-me-admin
WP_ADMIN_MAIL=admin@example.com

WP_USER=editor
WP_MAIL_USER=editor@example.com
WP_PASS=change-me-editor

FTP_USER=ftpuser
FTP_PASS=change-me-ftp
